* {
  margin: 0;
  padding: 0;  
}
body{
  // margin-top: 100px;
}
.assistido {   
  padding-top: 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  z-index: 10;
}
