* {
  margin: 0;
  padding: 0;
  color: #5c2751;  
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  cursor: pointer;
  opacity: 0.6;
  filter: brightness(200%);
  transition: 400ms;
}

.navbar {
  position: fixed;
  // top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: lightskyblue;  
  opacity: 90%;
  width: 100%;
  box-shadow: 1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 10;

  &__title {
    background-color: transparent;
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightskyblue;
    margin-right: 2rem;
    gap: 1.1rem;
    font-size: 1.3rem;

    &__items {
      margin: 0.5rem;
      list-style: none;
      // align-items: center;
      background-color: transparent;
      font-weight: bold;
    }
  }

  &__hamburger {
    display: none;
    background-color: transparent;
    margin-right: 2rem;

    &__items {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #5c2751;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    &__links {
      position: fixed;
      left: -100%;
      top: 4.4rem;
      flex-direction: column;
      background-color: lightskyblue;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 1px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    &__links.active {
      left: 0;
      width: 98%;
      margin-left: 1%;
      padding: 1.2rem 0;
      font-weight: bold;

      &__items {
        margin: 0.5rem 0;
      }
    }

    &__hamburger {
      display: block;
      cursor: pointer;
    }

    &__hamburger:hover {
      cursor: pointer;
      opacity: 0.6;
      transition: 400ms;
      filter: brightness(200%);
    }
  }
}
